body {
	/*position: relative;*/
	padding: 10px 160px;
	margin: 0;
	background-image:url('bg.jpg');
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:1;
    color:white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Tahoma";
}

table, th, td {
	border: 1px solid #000000;
	border-spacing: 0px;
	background-color: #95a5a6;
}

.hide {
	display: none;
}

.level1 {
	background-color: #228B22;
}

.level2 {
	background-color: #1E90FF;
}

.level3 {
	background-color: #FF8C00;
}

.level4 {
	background-color: #FF0000;
}

.buttonPrimary {
	text-decoration:none; text-align:center; 
	padding:5px 17px;
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:12px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#e5ffff; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

.buttonPrimary:hover{
	padding:5px 17px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:12px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#020208; 
	background-color:#f7f7f7; 
	background-image: -moz-linear-gradient(top, #f7f7f7 0%, #edf3f5 100%); 
	background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #edf3f5 100%); 
	background-image: -o-linear-gradient(top, #f7f7f7 0%, #edf3f5 100%); 
	background-image: -ms-linear-gradient(top, #f7f7f7 0% ,#edf3f5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3f5', endColorstr='#edf3f5',GradientType=0 ); 
	background-image: linear-gradient(top, #f7f7f7 0% ,#edf3f5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

.calenderTable {
	width: 100%;
}

.calenderEntry {
	text-align: right;
	vertical-align: top;
	height: 100px;
}

.box {
	width: 100%;
	clear: both;
}

.subBox {
	box-sizing: border-box;
	border: 1px solid #000;
	padding: 10px;
}

.budgetBox {
	width: 100%;
	margin-top: 20px;
	border-bottom: none;
	background: linear-gradient(#6B8C00, #7B9C10);
}

.budgetBoxValue {
	float: right;
}

.budgetBoxButton {
	float: right;
	/*position: relative;
	top: -5px;*/
}

.spentBox {
	width: 50%;
	float: left;
	margin-bottom: 20px;
	background-color: blue;
}

.spentBoxValue {
	float: right;
}

.overspentBox {
	width: 50%;
	float: left;
	border-left: none;
	margin-bottom: 20px;
	/*position: relative;
	top: -3px;*/
	background-color: red;
}

.overspentBoxValue {
	float: right;
}

.newEntryButton {
	float: right;
	position: relative;
	top: -10px;
}

.resetAllButton {
	float: right;
	position: relative;
	top: -10px;
}

.newEntryPopup {
	position: fixed;
	top: 30%;
	left: 20%;
	right: 20%;
	border: 1px solid #c4c4c4;
	padding: 20px;
	background-color: #FFF;
	z-index: 100;
	border-radius: 5px;
}

.newEntryInput {
	text-align: center;
	font-size: 25px;
	font-family: Helvetica;
}

.newEntryInputName {
	text-align: left;
}

.newEntryPopupHeader {
	font-size: 30px;
	text-align: center;
	border-bottom: 1px solid #C4C4C4;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: Helvetica;
}

.newEntryPopupFooter {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #C4C4C4;
	padding-top: 15px;
}

.setBudgetPopup {
	position: fixed;
	top: 30%;
	left: 20%;
	right: 20%;
	border: 1px solid #c4c4c4;
	padding: 20px;
	background-color: #FFCC00;
	z-index: 100;
}

.setBudgetPopup h2 {
	text-align: center;
}

.newEntryPopup h2 {
	text-align: center;
}

.list {
	list-style: none;
}

.spentItemListPopup {
	position: fixed;
	top: 30%;
	left: 20%;
	right: 20%;
	border: 1px solid #c4c4c4;
	padding: 20px;
	background-color: #FFF;
	z-index: 100;
	border-radius: 5px;
}

.spentItemListPopupHeader {
	font-size: 30px;
	text-align: center;
	border-bottom: 1px solid #C4C4C4;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: Helvetica;
}

.spentItemListPopupFooter {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #C4C4C4;
	padding-top: 15px;
}
/*.historyBox {
	clear: both;
	border: 1px solid black;
}*/