body {
	/*position: relative;*/
	padding: 10px 160px;
	margin: 0;
}

/*.backdrop {
	width: 100%;
	height: 100%;
	background-color: #C4C4C4;
	z-index: 1;
}*/

.hide {
	display: none;
}

.level1 {
	background-color: #228B22;
}

.level2 {
	background-color: #1E90FF;
}

.level3 {
	background-color: #FF8C00;
}

.level4 {
	background-color: #FF0000;
}

.buttonPrimary {
	padding: 4px 8px;
	background-color: #FFCC00;
}

.calenderTable {
	width: 100%;
}

.calenderEntry {
	text-align: right;
	vertical-align: top;
	height: 100px;
}

.box {
	width: 100%;
	clear: both;
}

.subBox {
	box-sizing: border-box;
	border: 1px solid #000;
	padding: 10px;
}

.budgetBox {
	width: 100%;
	margin-top: 20px;
	border-bottom: none;
}

.budgetBoxValue {
	float: right;
}

.budgetBoxButton {
	float: right;
	/*position: relative;
	top: -5px;*/
}

.spentBox {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.spentBoxValue {
	float: right;
}

.overspentBox {
	width: 50%;
	float: left;
	border-left: none;
	margin-bottom: 20px;
	/*position: relative;
	top: -3px;*/
}

.overspentBoxValue {
	float: right;
}

.newEntryButton {
	float: right;
	position: relative;
	top: -10px;
}

.resetAllButton {
	float: right;
	position: relative;
	top: -10px;
}

.newEntryPopup {
	position: fixed;
	top: 30%;
	left: 20%;
	right: 20%;
	border: 1px solid #c4c4c4;
	padding: 20px;
	background-color: #FFCC00;
	z-index: 100;
}

.setBudgetPopup {
	position: fixed;
	top: 30%;
	left: 20%;
	right: 20%;
	border: 1px solid #c4c4c4;
	padding: 20px;
	background-color: #FFCC00;
	z-index: 100;
}

.setBudgetPopup h2 {
	text-align: center;
}

.newEntryPopup h2 {
	text-align: center;
}

.list {
	list-style: none;
}
/*.historyBox {
	clear: both;
	border: 1px solid black;
}*/